@use 'sass:color';
@use 'sass:meta';

$medical: #ebf0f5;

@use '../colors.scss' with (
  $fg-map-keys: (),
  $bg-map-keys: ()
);
@use '../base.scss' with (
  $color-bg: color.scale($medical, $lightness: -45%),
  $border-radius: 2px
);

.theme-medical {
   // Components
   @include meta.load-css(
    '../components/Button.scss',
    $with: (
      'color-default': $medical,
      'color-transparent-text': rgba(227, 240, 255, 0.75)
    )
  );
  @include meta.load-css(
    '../components/ProgressBar.scss',
    $with: (
      'color-default': $medical,
      'color-background': rgba(0, 0, 0, 0.5)
    )
  );
  @include meta.load-css('../components/Section.scss');

  // Layouts
  @include meta.load-css('../layouts/Layout.scss');
  @include meta.load-css('../layouts/Window.scss');
  @include meta.load-css(
    '../layouts/TitleBar.scss',
    $with: ('color-background': color.scale($medical, $lightness: -75%))
  );
}
